---
// use the following TailwindCSS UI libraries:
// - https://tailwindui.com/
// - https://www.hyperui.dev/
import Navigation from "./BriefHealthHeader.astro";
import Footer from "./BriefHealthFooter.astro";
import { Route, routes } from "../../../lib/native/route";
// import LoginRedirect from "../../../components/native/authentication/iam/LoginRedirect"

export interface Props {
  readonly route: Route<any, any>;
  readonly title?: string;
  readonly heading?: string;
}

const { route, title = route.openGraph.ogTitle } = Astro.props;
const { originEndpointURL, originFsPath, collection, entry } = route.provenance; // pick specific items since pathTree is recursive and kills JSON.stringify()
const origin = { originEndpointURL, originFsPath, collection, entry };
const r = routes(Astro, route);
// const envData = import.meta.env;
const socialImage =
  Astro.site +
  "assets-natural/brand/netspective/knowledge-center/knowledge-center-logo-full-165x104.png";
---

<!DOCTYPE html>
<html
  lang="en"
  data-upi-layout={JSON.stringify({
    originFsPath: "src/layouts/ds/tailwind/Prime.astro",
  })}
  data-upi-origin={JSON.stringify(origin)}
  class="h-full bg-gray-100"
>
  <head>
    <meta name="description" content={title} />
    <meta property="og:title" content={title} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={socialImage} />
    <meta property="og:description" content={title} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <!--<meta name="twitter:site" content="@Medigy" />-->
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={title} />
    <meta name="twitter:image" content={socialImage} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href={Astro.url} />
    <!-- <script type="text/javascript" src="/assets/native/js/fingerprint.js"
    ></script>
    <script type="text/javascript" src="/assets/native/js/open-telemetry.js"
    ></script> -->
    <link
      rel="icon"
      type="image/svg+xml"
      href={r.uaAssetURL.brand(
        "/netspective/knowledge-center/knowledge-center-favicon.png",
      )}
    />
    <meta name="generator" content={Astro.generator} />
    <title>
      Discover the Digital Healthcare Technology Trends, Products and Health IT
      News | Health IT briefing
    </title>
    <slot name="in-head" />
  </head>
  <body class="bg-center bg-repeat bg-pattern-image">
    <!-- This is the top most navigation section -->
    <div class="min-h-full ring-1 ring-slate-900/10">
      <Navigation route={route} />
    </div>
    <div>
      <!-- <section class="mx-auto items-center gap-8 px-4 sm:px-6 lg:px-8 mt-4 pb-8"
        style="min-height: 600px;">
        <section>
          <main>-->
      {/*route ? <Breadcrumbs route={route} /> : "" */}
      <!--  <div class="relative px-0 pt-0 pb-0 lg:px-0 lg:pt-0 lg:pb-0 xl:p-0 w-full">
                    <div class="relative mx-auto">-->
      {
        /*
                      heading && heading.length > 0 ? (
                      <h1 class="mt-3 text-3xl font-bold tracking-tight text-slate-900">{heading}</h1>
                      ) : ""
                      */
      }
      <main class="min-h-[78%]">
        <slot />
      </main>
      <!--  </div>
                </div>-->
      <!--   </main>
    </section>
      </section> -->
      <Footer route={route} />
      <style is:global>
        /* Improve Page speed */
        /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
        img {
          content-visibility: auto;
        }
        .bg-pattern-image {
          background-image: url("/assets-natural/brand/brief-health/bg-pattern.jpg");
        }
      </style>
      <script is:inline>
        document.addEventListener("DOMContentLoaded", () => {
          if (document.querySelectorAll(".mermaid").length > 0) {
            const scriptElem = document.createElement("script");
            scriptElem.onload = () => mermaid.initialize();
            scriptElem.type = "text/javascript";
            scriptElem.src =
              "https://cdnjs.cloudflare.com/ajax/libs/mermaid/9.3.0/mermaid.min.js";
            document.head.appendChild(scriptElem);
          }
        });
        document.addEventListener("DOMContentLoaded", () => {
          if (document.querySelectorAll(".markmap").length > 0) {
            const scriptElem = document.createElement("script");
            scriptElem.type = "text/javascript";
            scriptElem.src = "https://cdn.jsdelivr.net/npm/markmap-autoloader";
            document.head.appendChild(scriptElem);
          }
        });
      </script>
    </div>
  </body>
</html>
